.el-header {
    padding: 0 10px;
    font-weight: bold;
}
.el-main {
    padding: 20px 10px;
}
.el-table__empty-block {
	height: auto;
}

#main {
    height: 100%;
}

#main .google-login {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    max-width: 300px;
    width: 100%;
    height: 20px;
}
#main .google-login img {
    max-width: 300px;
    width: 100%;
}
#main .btn-edit {
    float: right;
}